@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap);

/*-- scss:defaults --*/

$link-color: #42affa;
$presentation-heading-color: #1F4257;
$presentation-heading-font: "Roboto Slab";
$presentation-heading-font-weight: 1000;
$presentation-h2-font-size: 1.3em;


/*-- section slide --*/
.maize {
    background-color: #F3B61D !important;
}